/*Background Image*/
body{
    background-color: #eed0d0;
}

.editor {
    display: flex;
    margin-top: 10px;
}

.editor img {
    height:50px ;
    width: 50px;
}

.editor h3 {
    margin-left: 10px;
    margin-top: 5px;
}
/* MENU BAR */
.menu {
    position: absolute;
    background-color: #5be6fe;
    margin-left: 15%;
    margin-top: 80px;
    width: 940px;
    height: 500px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 10px 10px 10px #605f5a;
}

.dropbtn {
    background-color: #5be6fe;
    color: rgb(7, 7, 7);
    border: none;
    font-family: inherit;
    cursor: pointer;
 }

 .dropdown {
    position: relative;
    float: left;
 }


 .dropdown-content  {
    display: none;
    position: absolute;
    background-color: #5be6fe;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(129, 123, 123, 0.2);
    z-index: 1;
 }

 .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

.dropdown-content a:hover {
    background-color: rgb(200, 195, 195);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f4f13f;
}

.edit{
    margin-top: auto;
    margin-bottom: 50px;
    margin-left: 25px;

}
 /* TEXT EDITOR */
 #text {
    height: 400px;
    width: 900px;
    background-color: white;
    margin-left: 15%;
    margin-top: 150px;
    font-size: 19px;
    font-weight: bold;
    position: relative;
 }

 /* PROFILE */
 .container {
    padding-bottom: 600px;
 }
